<div class="card h-100" style="width: 100%;">
    <div class="card-body card-table">
        <div class="row">
            <div class="col-sm-3">
                <h5 class="card-title float-left">Todos</h5>
            </div>
            <div class="col-sm-6">

            </div>
            <div class="col-sm-3">
                <button type="button" (click)="open(editUser,false,selectedTodo)" class="btn btn-success mb-2
                    float-right">New
                    Task</button>
            </div>

        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Completed</th>
                    <th scope="col">Title</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos;let i = index">
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" [checked]="todo.completed" (change)="statusChange(todo)" type="checkbox">
                        </div>
                    </td>
                    <td>{{todo.title}}</td>
                    <td><button (click)="open(editUser,true,todo)" type="button" class="btn btn-primary float-left"><i class="fa
                                fa-pencil"></i></button>
                    </td>
                    <td>
                        <button (click)="todoDelete(todo,i)" type="button" class="btn btn-danger ml-1 float-left"><i
                                class="fa
                                fa-trash"></i></button>
                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>


<ng-template #editUser let-modal>
    <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">{{isEdit==true?"Edit Task":"New Task"}}</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body modal-lg">


        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Task</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="task" #ctrl="ngModel">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-6 col-sm-3">
                <button type="button" (click)="modal.close()" class="btn btn-primary">
                   Cancel
                </button>
            </div>
            <div class="col-sm-3">
                <button (click)="saveTask()" class="btn btn-success">
                    {{isEdit==true?"Update":"Create"}}
                </button>
            </div>
        </div>
    </div>
</ng-template>
